/* ==========================================================================
   #ICON
   ========================================================================== */

.c-icon {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1em;
  overflow: hidden;
}
